[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
flask = "*"
gunicorn = "*"
idna = "*"
pycryptodome = "*"
pydes = "*"
requests = "*"
urllib3 = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"

[dev-packages]

[requires]
python_version = "3.12"
